 <div class="container-fluid">
    <div class="row">
        <header class="imgcov" data-ibg-bg=header-min.jpg>
            <a href="about.html" class="headera">
                <div class="headercontent ycenter">
                    <div class="row srfade">
                        <div class="col-lg-6">
                            <h5 class="nomarg">Xinyi <span>Tony</span> Li</h5>
                            <p>Digital Designer</p>
                        </div>
                        <hr class="nomarg text-center" align="center">
                        <div class="col-lg-6">
                            <h3 class="nomarg">Portfolio</h3>
                        </div>
                    </div>
                    <div class="row" style="margin-top:1em;">
                        <div class="col-lg-12 text-center bounce">
                            <i class="ion-chevron-down buttonarrow"></i>
                        </div>
                    </div>
                </div>
            </a>
        </header>
    </div>
</div>